body{
    margin:0;
    padding:0;
    background:transparent;
    overflow:hidden;
    font-family:Arial, sans-serif;
}

.music-container{

    position:fixed;

    top:18px;

    right:20px;

    z-index:9999;

}

#playBtn{

    width:55px;

    height:55px;

    border:none;

    border-radius:50%;

    cursor:pointer;

    font-size:28px;

    background:rgba(255,255,255,0.75);

    backdrop-filter:blur(10px);

    box-shadow:0 4px 12px rgba(0,0,0,.25);

    transition:.3s;

}

#playBtn:hover{

    transform:scale(1.08);

}

#controls{

    margin-top:10px;

    padding:12px;

    width:180px;

    border-radius:15px;

    background:white;

    box-shadow:0 4px 15px rgba(0,0,0,.2);

}

.hidden{

    display:none;

}

#toggle{

    width:45px;

    height:45px;

    border:none;

    border-radius:50%;

    cursor:pointer;

    font-size:18px;

    background:#ff7ab6;

    color:white;

}

#volume{

    width:120px;

    margin-left:10px;

}